.slide {
  @apply relative overflow-hidden bg-no-repeat bg-center bg-cover inline-block;
  background-color: black;
  cursor: grab;
}

.slide:active {
  cursor: grabbing;
}

.imageContainer {
  @apply flex items-center justify-center overflow-hidden bg-no-repeat bg-center bg-cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

/* .imageContainer .slideImage {
  @apply transform transition-transform duration-500
  object-cover scale-120;
} */

.descWrapper {
  @apply absolute left-5 bottom-10 md:left-10 lg:left-20 lg:bottom-24 text-white;
}